.content-search{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    padding:0 1em;
    background-color: #E6E6E6;
}
.event-search{
    display:flex;
    flex-direction: column;
    
    padding: 1em;
    width:15em;
    height:13em;
    border-radius:0.5em;
    margin:1em;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 5px 0px #907bdb; */
    border: 0.1em solid #907bdb; 
}
.event-search:hover{
     border: 0.15em solid #907bdb; 
}
.avatar-search{
    width: 2em;
    height:2em;
    border-radius:50%;
    border: 0.1em solid #907bdb;
    margin-right:-0.5em;
    background-color: #ffffff;
    text-align: center;
    line-height: 2em;
    color:#907bdb;
}
.avatar-search:first-child{
    border: 0.1em solid #db7b7b;
}
.event-search .avatar-search:hover{
    margin-right:-0.2em;
    margin-left:0.3em;
}
img:hover{
    opacity:0.7;
}
.participants{
    align-self:center;
    display:flex;
    align-items: center;
    flex-direction:row;
    min-height: 2.5em;

}
.event-search-info{
    display:flex;
    flex-direction:row;
}

.event-search > .event-search-info > ul{
    margin: 1em;
    align-self: flex-start;
    list-style-type: none;
    text-align:left;
    font-size:0.8em;
}
.event-search > .event-search-info> ul >li{
    margin: 0.5em 0;
}
.li-activity{
    font-size:1.5em;
}
.request-button{
    min-height:2em;
    border-radius:0.5em;
    border:none;
    background-color: #907bdb;
    color:white;
}

.request-button:hover{
    background-color:#ffffff;
    border:0.1em solid #907bdb;
    color: #907bdb;
}

.event-level{
    margin-left:0.5em;
    font-size: 0.5em;
}
.icons-bar{
    margin:1em;
    font-size:0.5em;
    
}
.content-search>input{
    padding-left:0.5em;
    margin: 0.5em 0 0 1em;
    width:90vw;
    height:3em;
    border-radius: 0.5em;
    border: 0.1em solid #907bdb;
}

/* AddAdmins */
.container-users{
    display:flex;
    flex-wrap:wrap;
    margin:3em 4em 2em 2em;
    padding:0.5em;
    font-family: 'Montserrat', sans-serif;
}
.avatar-container{
    width:10em;
    height:14em;
    text-align: center;
}
.container-users .avatar-search{
    width: 8em;
    height:8em;
    border: 0.1em solid #907bdb;
    margin:0;

}

/* EventFullView */
.event-container-full{
    margin:3em 4em 2em 2em;
    padding:0.5em;
    font-family: 'Montserrat', sans-serif;
}
.event-container-full .avatar-search{
    width: 4em;
    height:4em;

    border: 0.1em solid #907bdb;
    margin-right:0.5em;

}
.event-container-full h1{
    font-size: 2em;
    font-weight: 100;
    margin: 0 0 0.5em 0;
}
.event-container-full h2{
    font-size: 1.5em;
    font-weight: 100;
    margin: 0.2em 0;
}
.event-container-full h3{
    font-size: 1.3em;
    font-weight: 100;
}
.event-container-full h4{
    font-size: 1em;
    font-weight: 100;
}

.event-container-full .request-button{
    min-height:2.5em;
    min-width: 22em;
    border-radius:0.5em;
    border:none;
    background-color: #907bdb;
    color:white;
}
