.content-search{
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0 1em;
}
.event-search{
    display:flex;
    flex-direction: column;
    padding: 1em;
    width:15em;
    height:13em;
    border-radius:0.5em;
    margin:1em;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 5px 0px #907bdb; */
    border: 0.1em solid #907bdb; 
}
.event-search:hover{
     border: 0.15em solid #907bdb; 
}
.avatar-search{
    width: 2em;
    height:2em;
    border-radius:50%;
    border: 0.1em solid #907bdb;
    margin-right:-0.5em;
    background-color: #ffffff;
    text-align: center;
    line-height: 2em;
    color:#907bdb;
}
.avatar-search:first-child{
    border: 0.1em solid #db7b7b;
}
.avatar-search:hover{
    width: 2.2em;
    height:2.2em;
    margin-right:-0.2em;
    margin-left:0.3em;
    border-width: 0.15em;
}
.participants{
    align-self:center;
    display:flex;
    align-items: center;
    flex-direction:row;
    min-height: 2.5em;

}
.event-search-info{
    display:flex;
    flex-direction:row;
}

.event-search > .event-search-info > ul{
    margin: 1em;
    align-self: flex-start;
    list-style-type: none;
    text-align:left;
    font-size:0.8em;
}
.event-search > .event-search-info> ul >li{
    margin: 0.5em 0;
}
.li-activity{
    font-size:1.5em;
}
.request-button{
    min-height:2em;
    border-radius:0.5em;
    border:none;
    background-color: #907bdb;
    color:white;
}

.request-button:hover{
    background-color:#ffffff;
    border:0.1em solid #907bdb;
    color: #907bdb;
}

.event-level{
    margin-left:0.5em;
    font-size: 0.5em;
}
.icons-bar{
    margin:1em;
    font-size:0.5em;
    
}